<div class="App">
  <div class="appBody">
    <div class="search">
      <input [(ngModel)]="searchText" (ngModelChange)="searchChange()"  class="searchInput" placeholder="Search"/>
    </div>
    <div>
      <div *ngFor="let product of products">
        <app-product [product]="product" (favoriteChanged)="favoriteChangedHandler($event)"></app-product>
      </div>
    </div>
    <div class="favorites">
      <div class="favoritesHeader">Favoriti</div>
      <app-favorites [favorites]="favorites" (unfavoriteProduct)="unfavoriteProductHandler($event)"></app-favorites>    
    </div>
  </div>     
</div>
