.favoriteImage {
    width: 100px;
    height: 100px;
}

.favoritesList {
    display: flex;
    margin-bottom: 10px;
}

.favoriteBody {
    margin-left: 20px;
}
.favoriteTitle {
    margin-top: 7px;
    font-size: 18px;
    font-weight: bold;
}
.favoriteRate {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 12px;
}

.unfavoriteButton {
    display: block;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background: rgb(255, 255, 0);
    line-height: 3;
    overflow: hidden; 
    height: 2em;
    line-height: 2em;
    width: 5em;
    margin-top:8px;
    text-align: center;
}

.unfavoriteButton:hover {
    background: rgb(230,230,0);
    cursor: pointer;
}