<div class="body">
  <div class="backButton" [routerLink]="['/']" routerLinkActive="active">Go Back</div>
    <div class="details">
    <div class="detailsHeader">
      <div class="detailsTitle">{{product.name}}</div>
      <div class="detailsRating">Ocjena {{rating(product.rated)}} od 5</div>
    </div>
    <div class="detailsBody">
      <img class="detailsImage" src="{{product.imgUrl}}" alt="as"/>
      <div class="detailsDescription">
        {{product.description}}
      </div>
    </div>
    <div class="favorite">
      <div *ngIf="!product.favorite" class="favoriteAdd" (click)="favoriteClick(product)">ADD to favorite</div>
      <div *ngIf="product.favorite">Favorite item</div>
      <div class="rate">
          <input *ngIf="!rated" [(ngModel)]="rate" type="number" min="1" max="5"/> 
          <div *ngIf="!rated" class="rateButton" (click)="rateClick(product)">Rate</div>
          <div *ngIf="rated">Thank you for the rating</div>
      </div>
    </div>
  </div>
  <div class="detailsComments">
    <div class="detailsComment" *ngFor="let comment of product.comments">
      <div class="detailsCommentUserName">{{comment.username}}</div>
      <div class="detailsCommentRating">{{comment.rating}}</div>
      <div class="detailsCommentText">
        {{comment.comment}}
      </div>
    </div>
  </div>
</div>
